<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>CTAMS.html</welcome-file>
    </welcome-file-list>
  
    <!-- Servlets -->
    

    <servlet>
        <servlet-name>bandListServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.ListService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/band</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>bandUpdateServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.UpdateService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/band</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.Band</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>bandAddServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.AddService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/band</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.Band</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>bandDeleteServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.DeleteService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/band</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>bandRegistrationListServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.ListService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/bandregistration</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>bandRegistrationUpdateServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.UpdateService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/bandregistration</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.BandRegistration</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>bandRegistrationAddServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.AddService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/bandregistration</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.BandRegistration</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>bandRegistrationDeleteServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.DeleteService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/bandregistration</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>personListServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.ListService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/person</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>personUpdateServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.UpdateService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/person</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.Person</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>personAddServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.AddService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/person</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.Person</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>personDeleteServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.DeleteService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/person</param-value>
        </init-param>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>bandListServlet</servlet-name>
        <url-pattern>/bandlist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>bandUpdateServlet</servlet-name>
        <url-pattern>/bandupdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>bandAddServlet</servlet-name>
        <url-pattern>/bandadd</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>bandDeleteServlet</servlet-name>
        <url-pattern>/banddelete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>bandRegistrationListServlet</servlet-name>
        <url-pattern>/bandregistrationlist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>bandRegistrationUpdateServlet</servlet-name>
        <url-pattern>/bandregistrationupdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>bandRegistrationAddServlet</servlet-name>
        <url-pattern>/bandregistrationadd</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>bandRegistrationDeleteServlet</servlet-name>
        <url-pattern>/bandregistrationdelete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>personListServlet</servlet-name>
        <url-pattern>/personlist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>personUpdateServlet</servlet-name>
        <url-pattern>/personupdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>personAddServlet</servlet-name>
        <url-pattern>/personadd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>personDeleteServlet</servlet-name>
        <url-pattern>/persondelete</url-pattern>
    </servlet-mapping>

</web-app>
