<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>CTAMS.html</welcome-file>
    </welcome-file-list>
  
    <!-- Servlets -->
    

    <servlet>
        <servlet-name>bandListServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.ListService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/band</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>bandUpdateServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.UpdateService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/band</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.Band</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>bandAddServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.AddService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/band</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.Band</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>bandDeleteServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.DeleteService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/band</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>bandRegistrationListServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.ListService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/bandregistration</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>bandRegistrationUpdateServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.UpdateService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/bandregistration</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.BandRegistration</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>bandRegistrationAddServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.AddService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/bandregistration</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.BandRegistration</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>bandRegistrationDeleteServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.DeleteService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/bandregistration</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>rosterListServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.ListService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/roster</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>rosterUpdateServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.UpdateService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/roster</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.Roster</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>rosterAddServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.AddService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/roster</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.Roster</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>rosterDeleteServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.DeleteService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/roster</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>personListServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.ListService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/person</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>personUpdateServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.UpdateService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/person</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.Person</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>personAddServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.AddService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/person</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.Person</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>personDeleteServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.DeleteService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/person</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>soloRegistrationListServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.ListService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/soloregistration</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>soloRegistrationUpdateServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.UpdateService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/soloregistration</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.SoloRegistration</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>soloRegistrationAddServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.AddService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/soloregistration</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.SoloRegistration</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>soloRegistrationDeleteServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.DeleteService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/soloregistration</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>venueListServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.ListService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/venue</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>venueUpdateServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.UpdateService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/venue</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.Venue</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>venueAddServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.AddService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/venue</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>org.wuspba.ctams.model.Venue</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>venueDeleteServlet</servlet-name>
        <servlet-class>org.wuspba.ctams.ui.server.DeleteService</servlet-class>

        <init-param>
            <param-name>uri</param-name>
            <param-value>/venue</param-value>
        </init-param>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>bandListServlet</servlet-name>
        <url-pattern>/bandlist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>bandUpdateServlet</servlet-name>
        <url-pattern>/bandupdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>bandAddServlet</servlet-name>
        <url-pattern>/bandadd</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>bandDeleteServlet</servlet-name>
        <url-pattern>/banddelete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>bandRegistrationListServlet</servlet-name>
        <url-pattern>/bandregistrationlist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>bandRegistrationUpdateServlet</servlet-name>
        <url-pattern>/bandregistrationupdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>bandRegistrationAddServlet</servlet-name>
        <url-pattern>/bandregistrationadd</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>bandRegistrationDeleteServlet</servlet-name>
        <url-pattern>/bandregistrationdelete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>rosterListServlet</servlet-name>
        <url-pattern>/rosterlist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>rosterUpdateServlet</servlet-name>
        <url-pattern>/rosterupdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>rosterAddServlet</servlet-name>
        <url-pattern>/rosteradd</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>rosterDeleteServlet</servlet-name>
        <url-pattern>/rosterdelete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>personListServlet</servlet-name>
        <url-pattern>/personlist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>personUpdateServlet</servlet-name>
        <url-pattern>/personupdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>personAddServlet</servlet-name>
        <url-pattern>/personadd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>personDeleteServlet</servlet-name>
        <url-pattern>/persondelete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>soloRegistrationListServlet</servlet-name>
        <url-pattern>/soloregistrationlist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>soloRegistrationUpdateServlet</servlet-name>
        <url-pattern>/soloregistrationupdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>soloRegistrationAddServlet</servlet-name>
        <url-pattern>/soloregistrationadd</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>soloRegistrationDeleteServlet</servlet-name>
        <url-pattern>/soloregistrationdelete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>venueListServlet</servlet-name>
        <url-pattern>/venuelist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>venueUpdateServlet</servlet-name>
        <url-pattern>/venueupdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>venueAddServlet</servlet-name>
        <url-pattern>/venueadd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>venueDeleteServlet</servlet-name>
        <url-pattern>/venuedelete</url-pattern>
    </servlet-mapping>

</web-app>
